version: 2.1

jobs:
  build:
#    working_directory: ~/circleci-java
    docker:
      - image: "circleci/openjdk:8-jdk"
    steps:
      - checkout
      - run: chmod +x ./gradlew
      - run: ./gradlew build
  deploy:
    docker:
      - image: "circleci/python:3.7"
    steps:
      - checkout
      - run: |
          git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git main

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build